* {
    font-family: cursive;

    /* CSS OF MAIN PAGE  */
    
}

header {
    text-align: center;
    background-color: lightblue;
}

section header {
    text-align: right;
    
}

.column {
    float: left;
    width: 50%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.midcolor {
    background: skyblue;
}

.input {
    top: 30%;
    right: 40%;
}

div h2 {
    align-items: center;
    text-align: center;
    column-rule: 3px solid black;
}

input {
    border: 5px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    border-bottom: none;
    width: 50%;
}

button {
    border: 5px solid black;
    border-radius: 10px;
    cursor: pointer;


}

ul,
li {
    list-style-type: none;
}

#darkmode {
    position: absolute;
    top: 26px;
    right: 16px;
    font-size: 18px;
    background-color: black;

  }

  body {
    background-color: darkblue;
  }












footer {
    background-color: aquamarine;
}